# ---------- Project-specific ----------
# Ignore built outputs and temp folders
/CSPPlugin/bin/
/CSPPlugin/obj/
/CSPPlugin/src/Helpers/
/CSPPlugin/src/obj/
/CSPPlugin/src/package/.DS_Store
/CSPPlugin/src/.DS_Store
/CSPPlugin/.DS_Store

# Ignore compiled artifacts
*.dll
*.pdb
*.o
*.a
*.so
*.exe
*.bin
*.d
*.cache
*.Up2Date

# ---------- Common build systems ----------
# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
*.make

# ---------- IDEs ----------
.vscode/
.idea/
*.suo
*.user
*.vcxproj.*
*.code-workspace

# ---------- System ----------
.DS_Store
Thumbs.db

# ---------- Test / coverage ----------
*.gcda
*.gcno
*.gcov
coverage/

# ---------- Optional formats ----------
*.json
*.ts
*.editorconfig
*.props
*.targets
/PipeNetwork/pipenetwork/Debug
*.db
*.sdf
*.ipch
*.ilk
PipeNetwork/pipenetwork/pipenetwork.vcxproj
PipeNetwork/pipenetwork.sln
TaskManagerCLI/build/.ninja_deps
TaskManagerCLI/build/.ninja_log
TaskManagerCLI/build/app
TaskManagerCLI/build/build.ninja
TaskManagerCLI/build/Testing/20251023-2346/Test.xml
TaskManagerCLI/build/Testing/TAG
TaskManagerCLI/build/Testing/Temporary/CTestCostData.txt
TaskManagerCLI/build/Testing/Temporary/LastTest.log
TaskManagerCLI/build/Testing/Temporary/LastTest_20251023-2346.log
TaskManagerCLI/build/Testing/Temporary/LastTestsFailed.log
TaskManagerCLI/build/tests/TaskManagerTest
TaskManagerCLI/build/tests/TaskTest
*.plist
*.xcuserstate
*.pbxproj
*.xcworkspacedata
*.pbxproj
/Hamdam/HamDam/HamDam.xcodeproj
/Hamdam/HamDam/HamDam.xcodeproj
/Hamdam/HamDam/HamDam.xcodeproj/project.xcworkspace/xcuserdata/niuklear.xcuserdatad
/Hamdam/HamDam/HamDam.xcodeproj/xcuserdata/niuklear.xcuserdatad
