*.json
*.dll
/CSPPlugin/obj
*.csproj
*.user
*.cache
*.pdb
*.Up2Date
*.editorconfig
*.props
*.targets
/CSPPlugin/bin
/CSPPlugin/src/Helpers
/CSPPlugin/src/obj
CSPPlugin/src/package/.DS_Store
CSPPlugin/src/.DS_Store
CSPPlugin/.DS_Store
.DS_Store
CSPPlugin/CSPPlugin.sln
