#############################################
# OS / SYSTEM JUNK
#############################################
.DS_Store
Thumbs.db
*.plist

#############################################
# IDE / EDITORS
#############################################
.vscode/
.idea/
*.suo
*.user
*.code-workspace
*.vcxproj*
*.sln
*.ipch
*.ilk
*.sdf

#############################################
# BUILD SYSTEM ARTIFACTS (CMake, Make, Ninja)
#############################################

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
*.make

# Ninja
*.ninja
*.ninja_deps
*.ninja_log

# Generic build dirs
/build/
*/build/

#############################################
# COMPILED ARTIFACTS
#############################################
*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exe
*.bin
*.d
*.cache
*.Up2Date

# macOS debug symbols
*.dSYM/

#############################################
# UNIT TEST / COVERAGE
#############################################
*.gcda
*.gcno
*.gcov
coverage/
CTestTestfile.cmake
Testing/

#############################################
# PROJECT-SPECIFIC (CLEANED & GROUPED)
#############################################

# CSPPlugin
CSPPlugin/bin/
CSPPlugin/obj/
CSPPlugin/src/obj/
CSPPlugin/src/package/
CSPPlugin/src/Helpers/
CSPPlugin/*.DS_Store

# PipeNetwork
PipeNetwork/pipenetwork/Debug/
PipeNetwork/pipenetwork/pipenetwork.vcxproj
PipeNetwork/pipenetwork.sln

# TaskManagerCLI CTest output + builds
TaskManagerCLI/build/

# Misc Folders
Learning Stuff/
DictionaryExtension/
cpp_template/cpp_template_macOS/build/
/Dictionary ChromeExtension/.scraps
/ExpenseTracker/data
/Hamdam/HamDam/HamDam/Assets.xcassets

#############################################

*.ts
*.editorconfig
*.props
*.targets
*.db
app
*.pdb

NotesApp/nul
